.about-us{
    margin-top: calc(20 * 100vw / 1000);
    margin-bottom: 75px;
    padding: 100px 0;

    &__bigLogo{
        height: 388px;
        width: 364px;
        background-image: url('/src/images/big_logo.png');
    }

    &__container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__block{
        margin: 0 5% 0 17%;
        border-radius: 10px;
        padding: 40px 50px;
        width: 900px;

        &-title{
            font-family: "Unbounded";
            font-size: 30px;
            // font-size: calc(15 * 100vw / 1000);
            font-weight: 600;
            margin: 0 0 20px;
        }
        &-text{
            font-family: "Rubik";
            font-size: 19px;
            font-weight: 400;

            // font-size: calc(10 * 100vw / 1000);
            max-width: 800px;

            &--last{
                margin: 30px 0 40px;
            }
        }
        &__advantages{
            display: flex;
            flex-direction: row;
            align-items: center;

            &--btn{
                margin-left: 10px;
                font-size: 15px;
                padding: 2px 20px;
                font-family: 'Unbounded';
                border-color: black;
            }
        }
        &__card{
            padding: 30px;
            font-size: 18px;
            font-family: 'Unbounded';
            border-radius: 10px;
            margin-right:20px;
            &--1{
                border:3px solid rgb(0, 0, 0);
            }
            &--2{
                border:3px dashed rgb(0, 0, 0);
            }
            &--3{
                box-shadow: 9px 13px 53px 0px rgba(34, 60, 80, 0.2);
            }
        }

    }

    
}



